.location-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.modal-content {
    position: relative;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.location-info p {
    margin: 0;
    font-size: 14px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-grow: 1;
}

.instructions {
    padding: 20px;
    background: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instructions p {
    margin: 0 0 10px;
}

.map-container {
    height: 100%;
    width: 100%;
    /* Ensure the map takes full width */
}

.location-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
}

.use-location-button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.use-location-button:hover {
    background: #0056b3;
}

.use-location-button svg {
    margin-right: 8px;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}