.main-category-con {
    /* border: 1px solid black; */
    border-radius: 10px;
    min-height: 10rem;
    background-color: rgba(227, 229, 255, 0.35);
    /* Adjusted to only affect background color opacity */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2rem;
    padding: 2rem 3rem;
    margin: 2rem 0rem;
}


.sub-cat-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 10rem;
}

.sub-cat-con:hover {
    cursor: pointer;

}

.main-cat-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: white;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-cat-con p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    color: #292C31;

}

.main-cat-img img {
    width: 3.5rem;
    height: 3.5rem;
    /* modified by sameer 26-07-2024 */
    border-radius: none
}

.main-cat-img:hover {
    /* modified by sameer 26-07-2024 */
    background-color: transparent;
}

.main-cat-img img:hover {
    width: 6.5rem;
    height: 6.5rem;
}


.coveredyou-con {
    /* border: 1px solid black; */
    min-height: 10rem;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.covered-you-headdig {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    margin: 0px;
}

.covered-you-headdig span {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: 300;
    line-height: 37.5px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #0000008C;

}

.covered-you-main-flow {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    overflow-x: auto;
    scroll-snap-type: x;
    /* border: 1px solid black; */
    scroll-behavior: smooth;
    column-gap: 2rem;
}

.covered-you-main-flow::-webkit-scrollbar {
    display: none;
}

.covered-you-sub-flow {
    padding-left: 1rem;
    height: 12rem;
    min-width: 25rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
}

.subflow-image img {
    width: 100%;
    height: 100%;
}

.coveredyou-content h1 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.13px;
    letter-spacing: 1px;
    text-align: left;
    color: white;

}

.coveredyou-content p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
    /* margin: 0px */

}

.covered-book-button {
    width: 8rem;
    height: 2rem;
    margin: 1rem 0rem;
    background-color: rgba(0, 0, 0, 0.30);
    border: none;
    border-radius: 10px;
    color: white;
}

.covered-book-button:hover {
    cursor: pointer;
}

.first-sub {
    background-image: url(../../assets/images/covered-you-1-bgimg.png);
    background-size: cover;
    /* Makes the image cover the entire element */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    /* Ensures the background image is clipped by border-radius */
}

.first-sub::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/images/covered-you-1-bgimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.77;
    /* Adjust opacity here */
    z-index: -1;
    /* Places the pseudo-element behind content */
    border-radius: 10px;
    /* Apply border-radius to the pseudo-element */
}


.second-sub {
    background-image: url(../../assets/images/covered-you-2-bgimg.png);
    background-size: cover;
    /* Makes the image cover the entire element */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    /* Ensures the background image is clipped by border-radius */
}

.second-sub::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/images/covered-you-2-bgimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.77;
    /* Adjust opacity here */
    z-index: -1;
    /* Places the pseudo-element behind content */
    border-radius: 10px;
    /* Apply border-radius to the pseudo-element */
}

.third-sub {
    background-image: url(../../assets/images/covered-you-2-bgimg.png);
    background-size: cover;
    /* Makes the image cover the entire element */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    /* Ensures the background image is clipped by border-radius */
}

.third-sub::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/images/covered-you-2-bgimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.77;
    /* Adjust opacity here */
    z-index: -1;
    /* Places the pseudo-element behind content */
    border-radius: 10px;
    /* Apply border-radius to the pseudo-element */
}


/* How it works */
.how-it-works-main-con {
    /* border: 1px solid black; */
    min-height: 10rem;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem 0rem;
    padding: 2rem;
}

.above-headddig {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;

}

.above-headddig span {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: 300;
    line-height: 37.5px;
    text-align: left;
    color: #000000;
    opacity: 55%;
}

.how-main-flow {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 12%;
    justify-content: space-evenly;
    align-items: center;

}


.how-sub-flow {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.how-image {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #E1E5F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-image:hover {
    background-color: #FFB800;
    cursor: pointer;

}

.how-image img {
    width: 4rem;
    height: 4rem;

}

.final-flow {
    display: flex;
    justify-content: left;
    align-items: center;
}

.covered-you-icon {
    width: 2rem;
    height: 2rem;
}

.covered-you-img {
    width: 3rem;
    height: 3rem;
}

.covered-you-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}